html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.main-container {
    position: relative;
    width: 280px;
    height: 375px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 
    0 3px 1px -2px rgba(0,0,0,0.12), 
    0 1px 5px 0 rgba(0,0,0,0.2);
    background-color: #d2fbff;
    display: block;
    border-radius: 4px;
    padding: 25px;
    margin: 0 auto;
    margin-top: 5%;
    z-index: 999;
    text-align: center;
}

h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0;
}

.link {
    text-align: center;
    margin: 0;
    font-size: 81%;
    text-decoration: underline;
    padding: 0;
}

.link:hover {
    cursor: pointer;
}

.link.calculation {
    margin-top: 10%;
    text-align: center;
}

.message-container {
    position: absolute;
    width: 80%;
    min-width: 255px;
    min-height: 187px;
    background-color: #fbc3c3;
    border-radius: 4px;
    padding: 25px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 
                0 3px 1px -2px rgba(0,0,0,0.12), 
                0 1px 5px 0 rgba(0,0,0,0.2);
    right: -103%;
    top: 10%;
    text-align: left;
}

h3 {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    text-align: center;
    font-size: 150%;
}

.close-icon-container {
    text-align: center;
    margin-top: 10%;
}

.close-icon {
    width: 10%;
}

.calculation-close-icon {
    position: absolute;
    right: calc(50% - 10px);
    bottom: 5%;
    height: 5.3%;
    width: 8.3%;
}

.close-disclaimer {
    text-decoration: underline;
    font-size: 80%;
    text-align: center;
}

.close-calculation {
    text-decoration: underline;
    text-align: center;
    font-size: 80%;
}

.close-disclaimer:hover, .close-calculation:hover {
    cursor: pointer;
}

.disclaimer-close-icon:hover, .calculation-close-icon:hover {
    cursor: pointer;
}

.disclaimer-message {
    font-size: 83%;
}

.province-container {
    margin-top: 12%;
}

.province-select {
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0;
    outline: none;
    background-color: #d2fbff;
    width: 64%;
    height: 44px;
    min-height: 29px;
    margin-top: 3%;
    font-size: 115%;
    -webkit-appearance: none;
    -moz-appearance:    none;
    -ms-appearance: none;
    -o-appearance:  none;
    appearance: none;
    text-align-last: right;
    padding-right: 6%;
    padding-left: 4%;
}

.location-icon {
    width: 9%;
    position: absolute;
    top: 52%;
    left: 22%;
}

.label {
    font-weight: 600;
    display: inline-block;
    width: 100%;
}

.salary-container {
    margin-top: 12%;
}

.input-container {
    position: relative;
    display: inline-block;
    margin-top: 12%;
    width: 100%;
}

.dollar-sign {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 24%;
    color: grey;
    font-size: 135%;
}

.input {
    background-color: #d2fbff;
    padding-right: 5%;
    height: 44px;
    min-height: 31px;
    text-align: right;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0px;
    width: 59%;
    font-size: 115%;
    outline: none;
    margin-top: 3%;
}

.error-message {
    visibility: hidden;
    color: red;
    font-size: 70%;
    margin-top: 5%;
}

.result-container {
    display: inline-block;
    width: 100%;
    margin-top: 9%;
}

.net-salary-label {
    font-weight: 600;
    float: left;
    margin-left: 5%;
}

.net-salary {
    margin: 0;
    float: right;
    margin-right: 5%;
}

.math-container {
    position: absolute;
    width: 98%;
    min-width: 255px;
    min-height: 187px;
    background-color: #c9ffd5;
    border-radius: 4px;
    padding: 25px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 
                0 3px 1px -2px rgba(0,0,0,0.12), 
                0 1px 5px 0 rgba(0,0,0,0.2);
    left: -122%;
    top: -7%;
    text-align: left;
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
}

h4 {
    margin: 0;
    padding: 0;
    margin-left: 3%;
    margin-top: 5%;
}

.province {
    display: inline-block;
    font-size: 89%;
}

ul {
    margin: 0;
    margin-left: 2%;
    padding: 10px;
    font-size: 75%;
}

li {
    margin-bottom: 3%;
    list-style-type: none;
}

.fadeIn {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
}

.fadeOut {
    animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
}
